{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
    <h2>{{post.title}}</h2>
    <p>{{post.body}}</p>
</div>
<h4>Comments</h4>
{% if not post.comments.all %}
    No comments yet..
    <p><a href="{% url 'post_comment' post.pk %}">Add</a></p>
{% else %}
    <a href="{% url 'post_comment' post.pk %}">Comment Here</a>
    <br><br>
    {% for comment in post.comments.all %}
        <strong>
            {{ comment.name }}
        </strong>
        <br>
        {{ comment.body }}
        <br><br>
    {% endfor %}
{% endif %}
<p>
    <a href="{% url 'post_edit' post.pk %}">Edit Blog Post</a>
</p>
<p>
    <a href="{% url 'post_delete' post.pk %}">Delete Blog Post</a>
</p>
{% endblock content %}